@media screen and (max-width: 768px) {
  .fw-col-xs-6,
  .fw-col-xs-12 {
    float: left;
  }
  .fw-col-xs-6 {
    width: 50%;
  }
  .fw-col-xs-12 {
    width: 100%;
  }
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
body {
  font-weight: 300;
  font-family: 'Montserrat-Regular';
}
h1,
h2,
h3,
h4,
strong {
  font-family: 'Montserrat-Bold';
}
h1 {
  line-height: 1.2;
}
section {
  background-position: center top;
  background-size: cover;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.page {
  margin: 0;
}
.section {
  position: relative;
  overflow: hidden;
}
.section.full-height {
  min-height: 100vh;
}
.section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.section-background-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-class {
  display: block;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.homepage-section-top-inner img.logo {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .logo {
    display: block;
    margin: 0 auto;
  }
  .homepage-section-top-inner .logo {
    margin-bottom: 20px;
  }
}
img.logo {
  position: relative;
}
img.logo-centered {
  display: block;
  margin: 0 auto;
}
/* HOMEPAGE SECTION TOP */
.homepage-section-top {
  background-image: linear-gradient(to top left, #231563, #2e114b);
}
.homepage-section-top-inner {
  margin: 0 auto;
  padding-top: 20px;
}
.homepage-section-top-phone {
  text-align: right;
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}
.homepage-section-top-phone strong {
  font-size: 18px;
  font-family: 'Montserrat-Bold';
}
.homepage-section-top-phone strong a {
  text-decoration: none;
}
.homepage-section-top-phone strong a:active,
.homepage-section-top-phone strong a:visited {
  color: #fff;
}
.homepage-section-top-main {
  text-align: center;
  margin-top: 20vh;
  color: #fff;
}
.homepage-section-top-main .time {
  font-size: 30px;
  font-family: 'Montserrat-SemiBold';
  margin-bottom: 1rem;
}
.homepage-section-top-main .line {
  width: 390px;
  margin: -24px auto auto;
  border-bottom: 10px solid #fe186d;
  height: 1px;
}
.homepage-section-top-main h1 {
  font-size: 45px;
  font-family: 'Montserrat-Black';
  margin: 0 0 8px;
}
@media screen and (max-width: 768px) {
  .homepage-section-top {
    background-image: url('../img/homepage-top-bg-xs.jpg');
    background-size: cover;
    background-position: center;
  }
  .homepage-section-top video {
    display: none;
  }
  .homepage-section-top-phone {
    text-align: center;
  }
}
.stickyDa {
  padding-top: 5px;
}
.homepage-section-top form input,
.utp form input {
  margin-bottom: 20px;
  height: 60px;
  border: 1px solid #454851;
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
  color: #fff;
  background: none;
  border-radius: 5px;
  padding-left: 48px;
  padding-right: 10px;
  margin-right: 20px;
  max-width: 350px;
  font-weight: 300;
}
@keyframes shadow {
  from {
    box-shadow: 0 0 40px rgba(249, 21, 105, 0.7);
  }
  50% {
    box-shadow: 0 0 0 rgba(249, 21, 105, 0.7);
  }
  to {
    box-shadow: 0 0 40px rgba(249, 21, 105, 0.7);
  }
}
.homepage-section-top form input[type="submit"],
.utp form input[type="submit"] {
  width: 25%;
  max-width: 100%;
  height: 60px;
  border: none;
  background: linear-gradient(to top, #fe186d, #dc0656);
  border-bottom: 3px solid #b70547;
  text-align: center;
  padding: 0;
  box-shadow: 0 0 40px rgba(249, 21, 105, 0.7);
  animation: shadow 2s infinite ease-in-out;
}
.homepage-section-top form input[type="submit"]:hover,
.utp form input[type="submit"]:hover {
  background: linear-gradient(to top, #dc0656, #fe186d);
}
/* HOMEPAGE SECTION DIRECTION */
.homepage-section-direction {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url('../img/homepage-section-direction-bg.png') left 50px top 50px no-repeat, url('../img/homepage-section-direction-bg-2.png') right 50px bottom 50px no-repeat;
}
.zag {
  font-size: 30px;
  font-family: 'Montserrat-Black';
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 16px;
}
.hp-direction-block {
  width: 100%;
  height: 390px;
  position: relative;
  margin-bottom: 30px;
}
.hp-direction-block .img {
  width: calc(100% - 40px);
  height: 350px;
  background-color: #13124b;
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: 20px;
  background-size: cover;
  background-position: left bottom;
}
.hp-direction-block .img .bord {
  display: block;
  border: 2px solid #f9045f;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.2s ease-out;
  z-index: 5;
}
.hp-direction-block .img .bord:hover {
  opacity: 1;
}
.hp-direction-block .name {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  width: 100%;
  min-height: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Montserrat-Black';
  margin-left: 20px;
}
.hp-direction-block .bg {
  width: 80%;
  height: 390px;
  position: relative;
  background-color: #d8d8d8;
}
/* UTP SECTION */
.utp {
  min-height: 200px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  position: relative;
}
.utp .zag {
  color: #fff;
}
.utp.vk {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 60px;
}
.utp.vk .zag-left {
  font-size: 26px;
  font-family: 'Montserrat-Black';
  text-transform: uppercase;
}
.utp.vk .right-text {
  margin-top: 10px;
  text-align: center;
}
.utp.vk p {
  font-size: 14px;
}
/* TEACHERS SLIDER */
.homepage-section-teachers-title {
  padding-top: 80px;
  padding-bottom: 16px;
}
.homepage-section-teachers-title .zag {
  color: #fff;
  margin-bottom: 0px;
}
.homepage-section-teachers-slider-1 {
  overflow: hidden;
}
.djlist-left,
.djlist-right {
  width: 23px;
  height: 47px;
  background-size: cover;
  position: absolute;
  top: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.djlist-left {
  background-image: url('../img/str-left.png');
  left: -50px;
}
.djlist-right {
  background-image: url('../img/str-right.png');
  right: -50px;
}
.dj-slider-top .ava {
  width: 100%;
  min-height: 140px;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transition: all 0.2s ease-out;
}
.dj-slider-bottom .item .img {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  background-size: cover;
}
.dj-slider-bottom .item .text {
  padding: 30px 10px;
}
.dj-slider-bottom .item .text .title {
  font-size: 24px;
  color: #989898;
}
.dj-slider-bottom .item .text .name {
  font-size: 40px;
  color: #000;
}
.dj-slider-bottom .but {
  width: 23px;
  height: 47px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  float: right;
  margin: 50px 10px;
  background-repeat: no-repeat;
  background-size: cover;
}
.dj-slider-bottom .but.left {
  background-image: url('../img/str-left.png');
}
.dj-slider-bottom .but.right {
  background-image: url('../img/str-right.png');
}
#tb-notification-widget-inner.tb-notification-widget-inner .tb-widget-buttons.tb-btn-style-rounded a {
  width: 280px !important;
  max-width: 100% !important;
  height: 10px !important;
  border: none !important;
  background: linear-gradient(to top, #fe186d, #dc0656) !important;
  border-bottom: 3px solid #b70547 !important;
  text-align: center !important;
  box-shadow: 0px 0px 40px rgba(249, 21, 105, 0.7) !important;
  animation: shadow 2s infinite ease-in-out !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  padding-top: 20px !important;
  padding-bottom: 35px !important;
  float: left !important;
  margin-right: 20px !important;
  font-size: 14px !important;
  font-family: 'Montserrat-SemiBold' !important;
}
#tb-notification-button-0 {
  width: 200px;
}
tb-notification-button__text {
  font-size: 0;
}
tb-notification-button__text:after {
  display: inline;
  content: 'Получить видеоурок';
  color: #fff;
  font-size: 14px;
}
.reviews {
  background-color: #141352;
  padding-top: 80px;
  padding-bottom: 80px;
}
.reviews .texts {
  padding-bottom: 40px;
}
.reviews .zag {
  color: #fff;
}
.reviews .opt1 {
  opacity: 0.2;
}
.reviews .img {
  width: 100px;
  height: 100px;
  border: 3px solid #ea1e6c;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews .item p {
  color: #a1a9ba;
  font-size: 14px;
}
.reviews .item p strong {
  color: #fff;
  font-size: 16px;
}
.reviews .video-block {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.reviews .video-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reviews .videos {
  text-align: center;
}
.reviews .videos .left,
.reviews .videos .right {
  width: 23px;
  height: 47px;
  display: inline-block;
  margin: 10px 25px 0;
  cursor: pointer;
  background-size: contain;
}
.reviews .videos .left {
  background-image: url('../img/str-left.png');
}
.reviews .videos .right {
  background-image: url('../img/str-right.png');
}
.reviews .videos .owl-carousel:before,
.reviews .videos .owl-carousel:after {
  display: block;
  content: ' ';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgba(20, 19, 82, 0.8);
  top: 0;
  z-index: 2;
}
.reviews .videos .owl-carousel:before {
  left: 0;
}
.reviews .videos .owl-carousel:after {
  right: 0;
}
@media screen and (max-width: 1720px) {
  .reviews .opt1 {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .reviews .videos .owl-carousel:before,
  .reviews .videos .owl-carousel:after {
    display: none;
  }
}
.cool-learning {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cool-learning .block {
  min-height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 40px 35px;
  text-align: left;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
  transition: all 0.2s ease-out;
  background-color: #fff;
  height: 100%;
  position: relative;
}
.cool-learning .block:hover {
  color: #fff;
  background: linear-gradient(45deg, #321149, #151251, #321149);
}
.cool-learning .img {
  text-align: center;
}
.cool-learning .learning-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 30px;
}
.cool-learning .learning-row > div {
  margin-bottom: 25px;
}
.homepage-big-video .cont {
  height: 850px;
  position: relative;
}
.homepage-big-video .cont .youtube {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.homepage-big-video .cont .youtube iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.homepage-big-video .block {
  width: 600px;
  max-width: 100%;
  min-height: 20px;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 80px 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(45deg, rgba(55, 15, 81, 0.3), rgba(31, 29, 127, 0.3), rgba(55, 15, 81, 0.3));
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.homepage-big-video .fw-container-fluid {
  padding: 0;
}
.homepage-big-video .fw-container-fluid > .fw-row {
  margin: 0;
}
.homepage-big-video .fw-container-fluid > .fw-row > .fw-col-xs-12 {
  padding: 0;
}
.homepage-big-video .but {
  width: 137px;
  height: 137px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: -140px;
  background: url('../img/big-video-button.png') no-repeat center bottom, #18134e;
  border-radius: 100%;
  box-shadow: 0px 0px 40px rgba(249, 21, 105, 0.7);
  animation: shadow 2s infinite ease-in-out;
  cursor: pointer;
}
#pauseu {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}
.homepage-news {
  padding: 80px 0;
}
.homepage-news .zag {
  margin-bottom: 46px;
}
.homepage-news .block {
  display: block;
  min-height: 20px;
  border: 1px solid #d9d9d9;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 22px;
  font-family: 'Montserrat-Bold';
  background-color: #fff;
  transition: all 0.2s ease-out;
}
.homepage-news .block:hover {
  color: #f9045f;
  border: 1px solid #f9045f;
  transform: scale(1.03);
}
.homepage-news .block .fw-row {
  display: block;
  padding: 0;
  margin: 0;
}
.homepage-news .block .img {
  display: block;
  width: 100%;
  min-height: 250px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
}
.homepage-news a,
.homepage-news a:visited,
.homepage-news a:active,
.homepage-news a:focus {
  color: #000;
  text-decoration: none;
}
